CREATE VIEW AnalizaSebastian
AS
SELECT [OrderID]
      ,[CustomerID]
      ,[EmployeeID]
      ,[OrderDate]
      ,[RequiredDate]
      ,[ShippedDate]
      ,[ShipVia]
      ,[ProductName]
      ,[Quantity]
      ,[Discount]
      ,[UnitPrice]
      ,[Wartość]
  FROM [1449_nw].[dbo].[AnlizaSprzedaży]